<% if @feed_items.any? %>
  <h3 id="tweets">総ツイート数 (<%= @feed_items.count %>件)</h3>
  <% @feed_items.each do |tweet| %>
  <ol class="tweets">
    <li>
      <span class="small">Name: <%= tweet.user.name %></span>
      <span class="content"><%= tweet.content %></span>
      <span class="timestamp">
        <%= time_ago_in_words(tweet.created_at) %>前
      </span>
      <% if current_user == tweet.user %>
      <%= link_to '変更',edit_tweet_path(tweet), remote: true %>
        <%= link_to "削除", tweet, method: :delete,
                                         data: { confirm: "Tweetを削除してもよろしいでしょうか？" },
                                         title: tweet.content %>
      <% else %>
        <%= link_to 'コメント',new_comment_path(id: tweet.id), remote: true %>
      <% end %>
      <div id="tweet-comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <div id="tweet-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </li>
  </ol>
  <% end %>
  <div class="tweet_form">
    <%= will_paginate @feed_items , renderer: BootstrapPagination::Rails %>
  </div>

<% end %>
