<div class="row">
  <aside class="col-md-4">
  </aside>
  <div class="col-md-8">
    <% flash.each do |key, value| %>
      <div class="alert <%= bootstrap_class_for(key) %> tweet_form"><%= value %></div>
    <% end %>
    <%= render 'tweet_form' %>
    <%= render 'tweet_show' %>
  </div>
</div>
<%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
