<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
     <nav>
       <ul class="nav navbar-nav navbar-left">
         <li><%= link_to "ホーム",    home_path %></li>
         <li><%= link_to "設定",    edit_user_registration_path %></li>
         <li>
           <%= link_to notifications_index_path do %>
            <i class="fa fa-bell"><%= @notifications_count %></i>
          <% end %>
         </li>
         <li><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %></li>
       </ul>
     </nav>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "Twitter clone", home_path, id: "logo" %></li>
     </ul>
   </div>
 </header>
